body {
  max-width: 1400px;
  max-height: 1400px;
  margin: auto;
  background-image: url("images/background.jpg");
  font-family: tahoma;
}

.table {
  display: table;
  width: 100%;
  height: 80% !important;
  margin: 50px 0 50px 0;
  border: 30px solid pink;
  border-radius: 20px;
  box-shadow: 0 0 100px black;
}

.label {
  font-size: 300%;
  font-weight: bold;
  color: white !important;
  background-image: url("");
}

row {
  display: table-row;
}

p {
  color: white;
  font-size: 300%;
  background-color: white;
  font-weight: bold;
  text-shadow: 0px 0px 59px rgba(0, 0, 0, 1);
  height: 100%;
  display: table-cell;
  border: 10px solid pink;
  padding: 50px;
  text-align: center;
    
  background-image: url("images/block.png");
  background-size: cover;
  background-position: center;
}

p:hover {
  opacity: 20%;
}

#corner {
  background-color: pink;
  background-image: url("");
}

#twoB {

}
